.ico { background-image: url(~sprite.png); background-size:512px 512px;}
.ico-a1 { width: 256px; height: 256px; background-position: 0px 0px; }
.ico-a2 { width: 256px; height: 256px; background-position: -256px 0px; }
.ico-a3 { width: 52px; height: 52px; background-position: -256px -256px; }
.ico-a4 { width: 256px; height: 256px; background-position: 0px -256px; }